@import url('https://fonts.googleapis.com/css?family=Roboto');

*, .base {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #fafafa;
}

h2 {
    font-size: 20px;
}

h2, h1, h3 {
    margin: 2px;
    padding: 2px;
}

h2, h1, h3, div {
    margin-top: 0;
}

li {
    list-style: none;
}

/*Header*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    align-items: center;
    height: 77px;
    background: white;
}

.headerContainer {
    background-color: white;
    padding: 0;
    display: flex;
    border-bottom: 1px solid #dbdbdb;
}

.headerContainer > div {
    background-color: white !important;
    width: 33%;
}

.searchBox {
    padding: 35px 40px 0 40px;
}

.logo {
    padding: 5px;
    margin: 10px;
}

.linklogo {
    position: relative;
    top: 15px;
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    color: grey;
}

.linklogo:hover {
    text-decoration: none;
}

.manage {
    display: inline;
    padding: 18px 25px 0px 0px;
    font-size: 12px;
    font-weight: 100;
    text-align: right;
}

.manage > h3 {
    position: relative;
    bottom: 30px;
}

.manage > h3 > span {
    position: relative;
    top: 20px;
    margin: 5px;
}

.logo > h2 {
    position: relative;
    bottom: 20px;
    padding: 5px;
    margin: 2px;
}

.logo > h2 > span {
    margin: 7px;
    position: relative;
    top: 15px;
}

.iconLogo {
    display: inline-block;
    height: 35px;
    width: 35px;
    background-size: 35px 35px;
    background-image: url("./images/mercurial.png");
}

/*Principal Panel*/
.principalPanel {
    margin: 120px 200px 120px 200px;
    background-color: white;
    border: 1px solid #efefef;
    margin-bottom: 1px solid #efefef;
    border-radius: 5px;
}

.AplicacionesTitle {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.AplicacionesTitle > h3 {
    margin: 5px;
    font-size: 22px;
}

.bodyContainer {
    background: #f5f5f5;
    padding: 0 10px;
    min-height: 200px;
}

.bodyContainerExtended {
    background: #f5f5f5;
    padding: 10px 10px;
    min-height: 200px;
}

.dashboardApp  {
    background: #fff;
    width: 80%;
    height: 60%;
}

/* Dashboad */
.dashboard {
    background: #f5f5f5;
    padding: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-content: center;
}

/* Apps */
.app {
    background: white;
    border: 1px solid #efefef;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

.app-tittle {
    margin: 10px;
    font-weight: bold;
    background: inherit;
    color: white;
    text-align: center;
    font-size: 20px;
}

.app-tittle:hover {
    background: inherit;
}

.app-icon {
    background: none;
    width: 140px;
    height: 140px;
    margin: 0 30px;
}

/* Footer */
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    padding: 7px;
    font-size: 18px;
    height: 40px;
    text-align: center;
    border: 1px solid #efefef;
}

/* General */
/*  Colors */
.black {
    background: black;
}

.white {
    background: linear-gradient(141deg, white 0%, white 51%, white 75%);
}

.white:hover {
    background: linear-gradient(141deg, #fafafa 0%, #fafafa 51%, #fafafa 75%);
}

.blue {
    background: linear-gradient(141deg, #0fb8ad 0%, #0fb8ad 51%, #0fb8ad 75%);
}

.blue:hover {
    background: linear-gradient(141deg, #42A5F5 0%, #42A5F5 51%, #42A5F5 75%);
}

.red {
    background: linear-gradient(141deg, #F44336 0%, #F44336 51%, #F44336 75%);
}

.red:hover {
    background: linear-gradient(141deg, #D32F2F 0%, #D32F2F 51%, #D32F2F 75%);
}

.green {
    background: linear-gradient(141deg, #4CAF50 0%, #4CAF50 51%, #4CAF50 75%);
}

.green:hover {
    background: linear-gradient(141deg, #388E3C 0%, #388E3C 51%, #388E3C 75%);
}

.gray {
    background: linear-gradient(141deg, #9E9E9E 0%, #9E9E9E 51%, #9E9E9E 75%);
}

.gray:hover {
    background: linear-gradient(141deg, #757575 0%, #757575 51%, #757575 75%);
}

.teal {
    background: linear-gradient(141deg, #009688 0%, #009688 51%, #009688 75%);
}

.teal:hover {
    background: linear-gradient(141deg, #00897B 0%, #00897B 51%, #00897B 75%);
}

.purple {
    background: linear-gradient(141deg, #9C27B0 0%, #9C27B0 51%, #9C27B0 75%);
}

.purple:hover {
    background: linear-gradient(141deg, #7B1FA2 0%, #7B1FA2 51%, #7B1FA2 75%);
}

.lightBlue {
    background: linear-gradient(141deg, #03A9F4 0%, #03A9F4 51%, #03A9F4 75%);
}

.lightBlue:hover {
    background: linear-gradient(141deg, #039BE5 0%, #039BE5 51%, #039BE5 75%);
}

.deepOrange {
    background: linear-gradient(141deg, #FF5722 0%, #FF5722 51%, #FF5722 75%);
}

.deepOrange:hover {
    background: linear-gradient(141deg, #F4511E 0%, #F4511E 51%, #F4511E 75%);
}

.blueGray {
    background: linear-gradient(141deg, #607D8B 0%, #607D8B 51%, #607D8B 75%);
}

.blueGray:hover {
    background: linear-gradient(141deg, #455A64 0%, #455A64 51%, #455A64 75%);
}

.phrases-app {
    background-color: #CCC;
}

.phrases-app:hover {
    background-color: #DDD;
}

.phrases-app {
    background-color: #CCC;
}

.phrases-app:hover {
    background-color: #DDD;
}

.login {
    height: 40%;
    width: 60%;
    background: white;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    position: fixed;
    top: 20%;
    left: 20%;
    text-align: center;
}

.login h2 {
    margin: 40px 40px 10px 40px;
    font-size: 35px;
}

.login div {
    margin: 20px;
    padding: 10px;
    display: flex;
}

.login div button {
    margin: 0 auto;
    border-radius: 5px;
}

button.google,
input[type=submit].google {
    border: 0;
    display: block;
    margin-bottom: 2rem;
    color: #fff;
    padding: 1.5rem;
    font-size: 16px;
    cursor: pointer;
}

button.google,
input[type=submit].google {
    background-color: #d14836;
    background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
    background-image: linear-gradient(top, #dd4b39, #d14836);
}

button.google:after,
input[type=submit].google:after {
    background-color: #d14836;
    background-image: -webkit-linear-gradient(top, #dd4b39, #d14836);
    background-image: linear-gradient(top, #dd4b39, #d14836);
}

.footnote {
    color: #9E9E9E;
    position: relative;
    top: 20px;
}

.modal {
    top: -20px;
    width: 300px;
    border: 1px solid #dbdbdb;
    background-color: #FFF;
    position: relative;
    float: right;
    margin-right: 10px;
}

.modal:empty {
    display: none
}

.logout-modal {
    padding: 10px;
}

.stLive {
    background-color: #64a62e;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    text-indent: 25px;
    text-transform: capitalize;
    margin-top: 10px;
}

.stOther {
    background-color: #eeae3f;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    text-indent: 25px;
    text-transform: capitalize;
    margin-top: 10px;
}

.distribution-map {
    position: relative;
    width: 100%;
    padding: 20px;
@include box-sizing(border-box);
    margin: 0 auto;
}

.distribution-map > img {
    width: 100%;
    position: relative;
    margin: 10px;
    padding: 0;
}

.distribution-map .map-point {
    cursor: pointer;
    outline: none;
    z-index: 0;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    background: rgba(26, 26, 26, 0.85);
    border: 5px solid #7fcff7;
}

.distribution-map .map-point .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: overlay;
}

.centered-y {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered-y h2 {
    font-size: 24pt;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 300;
}

.centered-y p {
    font-size: 12pt;
    margin-bottom: 12pt;
}

.centered-y {
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.distribution-map .map-point .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: overlay;
}

.distribution-map .map-point:active, .distribution-map .map-point:focus {
    margin: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    width: 300px;
    height: 220px;
    color: #e5e5e5;
    z-index: 1;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
}

.distribution-map .map-point:active .content, .distribution-map .map-point:focus .content {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0s, 0s;
    -webkit-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
    overflow: hidden;
}

.distribution-map .map-point:active .content a:hover, .distribution-map .map-point:active .content a:active, .distribution-map .map-point:focus .content a:hover, .distribution-map .map-point:focus .content a:active {
    color: #afe1fa;
}

.contentEvent {
    background: rgba(26, 26, 26, 0.85);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(26, 26, 26, 0.85);
    border: 5px solid #7fcff7;
    position: relative;
    top: -100px;
    left: 40px;
    padding: 20px;
}

.rating {
    width: 200px;
    position: relative;
    top: -8px;
    border: 0;
}

.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.ratingContainer {
    display: flex;
    margin-bottom: 10px;
}

.ratingContainer h3 a {
    margin: 0 5px;
    margin: 0 10px;
    font-size: 15px;
    font-weight: 400;
    color: gray;
    position: relative;
    top: -1px;
}

.poll-block {
    width: 50%;
    margin: 0 auto;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    min-height: 220px;
    background: white;
}

.poll-block h2 {
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    margin: 4px 0 15px 0;
}

.poll-block ul {
    margin-top: 2px;
}

.poll-block ul li {
    background: none;
    padding: 0 0 8px 0;
}

.poll-block ul li input {
    margin-right: 7px;
}

.poll-block ul li label {
    width: 92%;
}

.btn-custom {
    margin-top: 0;
}

.btn-custom {
    margin-top: 13px;
    display: inline-block;
    line-height: 22px;
    height: 22px;
    padding: 0 10px;
    box-shadow: none;
    border: 1px solid #2697d3;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    color: #fff;
    text-decoration: none;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#63b6e3), to(#2697d3));
    background-image: -webkit-linear-gradient(top, #63b6e3, #2697d3);
    background-image: -moz-linear-gradient(top, #63b6e3, #2697d3);
    background-image: -ms-linear-gradient(top, #63b6e3, #2697d3);
    background-image: -o-linear-gradient(top, #63b6e3, #2697d3);
    text-shadow: none;
}

ul.poll-results-list {
    padding-top: 2px;
    padding-bottom: 1px;
}

.percentage {
    font-weight: bold;
    bottom: 17px;
    font-size: 12px;
    font-weight: 100;
    margin-left: auto;
}

.out-bar {
    background: #f8f8f8;
    height: 10px;
    position: relative;
    margin-top: 1px;
    margin-bottom: 2px;
}

.inner-bar, .voted {
    background: #2697d3;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
}

.results {
    display: flex;
}

.addSkill {
    display: flex;
}

.addSkill input {
    height: 20px;
    width: 200px;
    margin-right: 5px;
}

.addSkill a {
    margin-top: 0;
}
